img{
    width: 100;
    align-items: center;
}
.promo{
    background-color: rgb(11, 111, 30);
    text-align: center;
    color: aliceblue;
    padding: 0.5rem 0;
}
.container{
    max-width: 114rem;
    padding: 0 auto;
}
@media only screen and (max-width: 1200px){
    .contenair{
        padding: 0 3rem;
    }
}
.navigation{
    height: 1rem;
    justify-content: space-between;
}
.d-flex{
    display: flex
}

*{
margin: 0;
padding: 0;
font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
height: 100%;
align-items: center;

}
.navbar{
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
    z-index: 999;
    background-color: chocolate;
}
.navbar .logo h1{
    color: cornsilk;
    cursor: pointer;


}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    margin-left: 20px;
    color: azure;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;

}
.navbar .menu li .active{
    border-bottom: 4px solid red;
}
.navbar .menu li .active1{
    border-bottom: 4px solid white;
}
.navbar .menu li .active2{
    border-bottom: 4px solid #15c727;
}
.navbar .menu li .active5{
    border-bottom: 4px solid #c7158c;
}
.navbar .menu li .active3{
    border-bottom: 4px solid yellow;
}
.navbar .menu li .active4{
    border-bottom: 4px solid blue;
}
.navbar .menu li .active6{
    border-bottom: 4px solid #15c727;
}
.navbar .menu li .a:hover{
    border-bottom: 4px solid red;
}
.icons .navbar{
    max-width: initial;
    padding: 0 auto;
}

.content{
    border-bottom: 4px solid rgb(199, 212, 16);
    background-image: url(LOGO\ ET\ AUTRES/LOGO.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: rgb(12, 16, 16);
    height: 100vh;
}
.content h1{
    font-size: 40px;
}
.couleur{
    color: blue;
}
.content p{
    font-size: 20px;
    margin-top: 30px;
}
.content h2{
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.3;
    text-align: left;

}
.couleur{
    color: blue; 
}
.content h3{
    font-size: 20px;
}
.content button{
    margin-top: 30px;
    padding: 15px 30px;
    border: none;
    background: chocolate;
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
}
.content h4{
    margin-top: 60px;
    padding: 30px 60px;
    border: none;
    background: chocolate;
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
}

.produits_texte{
 text-align: left;
 font-size: 50px;
 font-weight: 100;
 margin-top: 30px;
 margin-left: 80px;
 color: black;
 min-height: 100px;
 display: center;
 flex-wrap: wrap;
}
.section_produits{
    padding: 40px 5%;
}
.produits{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
    margin-bottom: 5rem;
}
.produits .carte{
    width: 310px;
    background: #64ab6b;
    box-shadow: 0 10px 20px black;
    border-radius: 10px;
    margin-bottom: 20px;
}
.produits .carte img{
    height: 250px;
    width: 100%;
    border-radius: 10px;
}
.produits .carte .desc{
padding: 5px 20px;
opacity: 0.8;
}
.produits .carte .titre{
    font-weight: 900;
    font-size: 20px;
    color: chocolate;
    padding: 0 20px;
}
.produits .carte .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.produits .carte .prix{
    color: rgb(33, 11, 231);
    font-size: 20px;
    font-weight: bold;
}
.produits .carte .achat{
    font-size: 13px;
    font-weight: 900;
    color: red;
    padding: 10px 18px;
    border-radius: 5px;
}
.produits .carte .box .achat:hover{
    cursor: pointer;
    background: chocolate;
    color: #15c727;
}

.produits_texte2{
    text-align: center;
    font-size: 50px;
    font-weight: 100;
    margin-top: 30px;
    margin-left: 80px;
    color: black;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
   }
   .section_produits2{
       padding: 40px 5%;
   }
   .produits{
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
   }
   .produits .carte1{
       width: 310px;
       background: #64ab6b;
       box-shadow: 0 10px 20px black;
       border-radius: 10px;
       margin-bottom: 20px;
   }
   .produits .carte1 img{
       height: 250px;
       width: 100%;
       border-radius: 10px;
   }
   .produits .carte1 .desc1{
   padding: 5px 20px;
   opacity: 0.8;
   }
   .produits .carte1 .titre1{
       font-weight: 900;
       font-size: 20px;
       color: chocolate;
       padding: 0 20px;
   }
   .produits .carte1 .box1{
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 20px;
   }
   .produits .carte1 .prix1{
       color: rgb(33, 11, 231);
       font-size: 20px;
       font-weight: bold;
   }
   .produits .carte1 .achat1{
       font-size: 13px;
       font-weight: 900;
       color: red;
       padding: 10px 18px;
       border-radius: 5px;
   }
   .produits .carte1 .box1 .achat1:hover{
       cursor: pointer;
       background: chocolate;
       color: #15c727;
   }
footer{
    background: white;
    height: 10vh;
}
footer p{
    text-align: center;
    line-height: 10vh;
}
footer p a{
    text-decoration: none;
    color: chocolate;
    font-weight: bold;
}


